/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0;
    background: #ccc;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    padding: .5em 0;
}

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clear,
.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ===== Print Styles ============================================================================================================================ */
@media print{*,*:before,*:after{background:transparent!important;color:#000!important;box-shadow:none!important;text-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="#"]:after,a[href^="javascript:"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}


*:focus{
    outline:0 none;
}
html{
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}
a{
    -webkit-transition:color .4s ease-in-out;
    -moz-transition:color .4s ease-in-out;
    -o-transition:color .4s ease-in-out;
    -ms-transition:color .4s ease-in-out;
    transition:color .4s ease-in-out;
    color: inherit;
    text-decoration: none;
}
input{
    padding:7px;
    border:1px solid #c7c1c1;
    -webkit-transition:color .4s ease-in-out;
    -moz-transition:color .4s ease-in-out;
    -o-transition:color .4s ease-in-out;
    -ms-transition:color .4s ease-in-out;
    transition:color .4s ease-in-out;
}
img{
    -ms-interpolation-mode:bicubic;
    max-width:100%;
    height:auto;
}


body{
    margin:0;
    padding:0;
    position:relative;
    color:#000;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
    -webkit-overflow-scrolling:touch;
}

/*######################### LINE  #####################*/
.line {
    width: 100%;
    border: 0;
    margin: 10px 0 10px 0;
    background:#ccc;
    height: 1px;
    padding: 0;
    position: relative;
    display: block;
    float:left;
}

/*######################### LIST / LIST STYLES #####################*/
.list li {
    list-style-type: square;
    margin-left: 15px;
}

.list.unstyled li {
    list-style-type: none;
    margin: 0;
}

.fa-check{
    color:green;
}

.horizon li {
    float: left;
    position: relative;
    padding: 1%;
    margin: 0 .2em 0 0;
    list-style-type: none;
    width: inherit !important;
}

.horizon li a {}

/*######################### ALIGN & FLOATING & TEXT-TRANSFORM  #####################*/
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}

.left {float:left}
.right {float:right}

/*######################### BUTTONS #####################*/
.btn,
button .btn,
a .btn,
input .btn {
    padding: .5em 1em;
    position: relative;
    display: block;
    margin: 5px 0;
    float:left;
    border: 1px solid;
    outline: 0;
    background: white;
    color: black;
    cursor:pointer
}

#cookie-bar {background:#111111; height:auto; line-height:24px; color:#eeeeee; text-align:center; padding:3px 0;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0; padding:0;}
#cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px;}
#cookie-bar .cb-enable {background:#007700;}
#cookie-bar .cb-enable:hover {background:#009900;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:#0033bb;}
#cookie-bar .cb-policy:hover {background:#0055dd;}