@font-face {
    font-family: 'Cheap Fire';
    src: url('../fonts/CheapFire.eot');
    src: url('../fonts/CheapFire.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CheapFire.woff2') format('woff2'),
        url('../fonts/CheapFire.woff') format('woff'),
        url('../fonts/CheapFire.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Distorter Demo';
    src: url('../fonts/DistorterDemoRegular.eot');
    src: url('../fonts/DistorterDemoRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/DistorterDemoRegular.woff2') format('woff2'),
        url('../fonts/DistorterDemoRegular.woff') format('woff'),
        url('../fonts/DistorterDemoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Thunder Titan';
    src: url('../fonts/ThunderTitan.eot');
    src: url('../fonts/ThunderTitan.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ThunderTitan.woff2') format('woff2'),
        url('../fonts/ThunderTitan.woff') format('woff'),
        url('../fonts/ThunderTitan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Computer Aid';
    src: url('../fonts/ComputerAid.eot');
    src: url('../fonts/ComputerAid.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ComputerAid.woff2') format('woff2'),
        url('../fonts/ComputerAid.woff') format('woff'),
        url('../fonts/ComputerAid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

