html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    float: left;
    overflow: hidden;
    z-index: 99999;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #fff;
    line-height: 160%;
    font-size:8vw;
}

ol,
ul {
    list-style: none
}
a{text-decoration:none;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;transition:all .2s linear}a:hover{text-decoration:none}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 160%;
    font-size:2vw;
    position: relative;
    color:white;
}


.fixed {
    position: fixed!important;

}

.bottom {
    bottom:0;
}

.clear:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both
}

.left {
    float: left
}

.right {
    float: right !important;
    text-align: right;
}

.center {
    text-align: center
}

.uppercase {
    text-transform: uppercase
}

.hidden {
    display: none !important
}


.frame {
    margin: 0 auto;

    max-width: 100%;
    position: relative;
    display: block;
    z-index: 999;
}
.wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    line-height: inherit;
    position: relative;
    display: block;
    overflow: hidden;
    float: none
}

[class*='bit-'] {
    display: block;
    overflow: hidden;
    position: relative;
    padding: .6em .4em;
    /*! text-align: left; */
}

/* ###################################### GRID BITS
bit-1 = 100%
bit-12 = 8.33%

fullwidth page (100%)  : bit-(3) = 33,3%
fullwidth page (100%)  : bit-(4) = 25%
fullwidth page (100%)  : bit-(8) = 12,5%
##################################### */

.bit-auto {
    position: relative;
    width: auto
}

.bit-1 {
    width: 100%
}

.bit-2 {
    width: 50%
}

.bit-3 {
    width: 33.33333%;
}

.bit-4 {
    width: 25%
}

.bit-5 {
    width: 20%
}

.bit-6 {
    width: 16.66667%
}

.bit-7 {
    width: 14.28571%
}

.bit-8 {
    width: 12.5%
}

.bit-9 {
    width: 11.11111%
}

.bit-10 {
    width: 10%
}

.bit-11 {
    width: 9.09091%
}

.bit-12 {
    width: 8.33333%
}

/* ###################################### GRID BITS
bit-20 = 20%
bit-55 = 55%
##################################### */

.bit-5 {
    width: 5%
}
.bit-10 {
    width: 10%
}
.bit-20 {
    width: 20%
}

.bit-25 {
    width: 25%
}

.bit-30 {
    width: 30%
}

.bit-35 {
    width: 35%
}

.bit-40 {
    width: 40%
}

.bit-50 {
    width: 50%
}

.bit-55 {
    width: 55%
}

.bit-60 {
    width: 60%
}

.bit-65 {
    width: 65%
}

.bit-70 {
    width: 70%
}

.bit-75 {
    width: 75%
}

.bit-80 {
    width: 80%
}

.bit-85 {
    width: 85%
}
.bit-90 {
    width: 90%
}
.bit-95 {
    width: 95%
}


@media(min-width:0) and (max-width:480px) {
    * {
        font-size: 99%
    }
/* 
    [class*='left'],
    [class*='right'] {
        float: none !important
    } */

    /* [class*='bit-'] {
        float: none !important;
        width: 98%;
        padding: 1%;
        margin: 0 auto
    } */

    .horizon li {
        float: none;
        clear: both;
        text-align: center;
        width: 98%;
        padding: 2%
    }
}



@media(min-width:0) and (max-width:320px) {

    .bit-4,
    .bit-30,
    .bit-3,
    .bit-65,
    .bit-70 {
        width: 96% !important;
        padding: 2%;
        clear: both
    }

    ul.horizon li {
        width: 96%;
        text-align: center;
        float: none;
        clear: both;
        padding: 2%
    }


    .text-right,
    .text-left {
        width: 98% !important;
        padding: 1%;
        float: none;
        margin: 1% auto;
        text-align: center !important
    }

    body {     font-size: 1.5em;}
}

@media(min-width:321px) and (max-width:720px) {

    .bit-30,
    .bit-3,
    .bit-65,
    .bit-70 {
        width: 96% !important;
        padding: 2%;
        float: none;
        clear: both
    }

    .bit-4 {
        width: 48% !important;
        padding: 2%
    }

    ul.horizon li {
        width: 96%;
        text-align: center;
        float: none;
        clear: both;
        padding: 2%
    }
}
@media(min-width:321px) and (max-width:720px) {
    
        h1,
        h2,
        h1 a,
        h2 a,
        h3,
        h3 a {
            font-size: 3em
        }
    
        h4,
        h5,
        h6,
        h4 a,
        h5 a,
        h6 a {
            font-size: 1.8em
        }
body {
font-size:20px;
}

    }
    
@media(min-width:721px) and (max-width:1960px) {

}
